<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="bg-white rounded shadow p-8">
      <div class="pb-5 border-b border-gray-200 sm:flex sm:items-center sm:justify-between mb-6">
        <div>
          <h1 class="text-lg leading-6 font-medium text-gray-900">
            Edit Source Settings
          </h1>
          
        </div>
      </div>
      <%= render "sources/form", source: @source %>
    </div>
  </div>
</div>