<!-- This example requires Tailwind CSS v2.0+ -->
<div>
  <h2 class="text-lg font-medium text-gray-900">
    Campaigns Using This Pipeline
  </h2>
  <p class="mt-1 text-sm text-gray-500">
    These are the campaigns buying from this source.
  </p>
  <ul role="list" class="mt-6 border-t border-gray-200 py-6 grid grid-cols-1 gap-6 sm:grid-cols-2">
    

  </ul>
</div>